body {
  background-image: url(./img/3d-gift-box-scene-with-clouds.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 96vh;
  width: 96vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 70%;
  width: 60%;
  background: url(./img/3d-gift-box-scene-with-clouds.jpg);
  background-position: center;
  background-size: cover;
  border: 2px solid purple;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  height: 10%;
  width: 40%;
  border: 2px solid purple;
  border-radius: 30px;
  text-align: center;
}

input {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  height: 90%;
  width: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

button {
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
}

input:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

#age {
  font-size: 26px;
}

.timer {
  text-align: center;
  font-size: 26px;
  display: flex;
  flex-direction: column;
}

.timer div{
  margin: 0 0 0 5px;

}

.inerDiv {
  display: flex;
  justify-content: center;
}